.root {
  position: relative;
}

.progress {
  position: absolute !important;
  height: 1em !important;
  left: 0.5rem;
  right: 0.5rem;
  border-radius: 0.25rem;
}

.progressValue {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  color: white;
}